.login {
  margin: 1rem;
  padding: 1.5rem 2rem;
  background-color: var(--color-dark--1);
  min-height: calc(100dvh - 2rem);

  @media (min-width: 500px) {
    & {
      min-height: calc(100dvh - 5rem);
      margin: 2.5rem;
      padding: 2.5rem 5rem;
    }
  }
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 1.5rem 2.25rem;
  width: min(100%, 48rem);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 4rem auto;

  @media (min-width: 500px) {
    & {
      margin: 6rem auto;
      padding: 2rem 3rem;
      gap: 2rem;
    }
  }

  @media (min-width: 900px) {
    & {
      margin: 8rem auto;
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
