.cityList {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  @media (min-width: 850px) {
    & {
      height: 65vh;
    }
  }
}

.cityList::-webkit-scrollbar {
  width: 0;
}
