.sidebar {
  flex-basis: 50%;
  background-color: var(--color-dark--1);
  padding: 1.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
  overflow-y: auto;
  flex-shrink: 0;

  @media (min-width: 400px) {
    & {
      padding: 2rem 3rem 2.5rem;
    }
  }

  @media (min-width: 850px) {
    & {
      flex-basis: 47rem;
      flex-direction: column;
      height: calc(100dvh - 4.8rem);
      order: 0;
      padding: 2.5rem 4rem 3rem;
    }
  }

  @media (min-width: 1000px) {
    & {
      flex-basis: 56rem;
      padding: 3rem 5rem 3.5rem;
    }
  }
}
